body { font-family: Arial; background:#f1f3f6; padding:20px }
.navbar { background:#2874f0;color:white;padding:10px;display:flex;justify-content:space-between }
.product-grid { display:flex; gap:20px; flex-wrap:wrap }
.product-card { background:white;padding:10px;width:200px;text-align:center }
button { background:#ff9f00;border:none;padding:5px;cursor:pointer }
a { color:white; text-decoration:none; margin-right:10px }
